<ion-view view-title="Dashboard">
  <!--<ion-content class="padding">-->
    <!--<div class="list card">-->
      <!--<div class="item item-divider">Recent Updates</div>-->
      <!--<div class="item item-body">-->
        <!--<div>-->
          <!--There is a fire in <b>sector 3</b>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="list card">-->
      <!--<div class="item item-divider">Health</div>-->
      <!--<div class="item item-body">-->
        <!--<div>-->
          <!--You ate an apple today!-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="list card">-->
      <!--<div class="item item-divider">Upcoming</div>-->
      <!--<div class="item item-body">-->
        <!--<div>-->
          <!--You have <b>29</b> meetings on your calendar tomorrow.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</ion-content>-->

  <ion-content class="padding" ng-controller="ExampleController">
    <button class="button" ng-click="savePerson('Nic', 'Raboy')">Save Nic Raboy</button>
    <button class="button" ng-click="savePerson('Maria', 'Campos')">Save Maria Campos</button>
    <button class="button" ng-click="savePerson('Bruce', 'Raboy')">Save Bruce Raboy</button>
    <button class="button" ng-click="getPeople()">Print All People</button>
    <button class="button" ng-click="getPeople({lastname: 'Raboy'})">Print All Raboys</button>
  </ion-content>
</ion-view>
