

<ion-view title="收取付款">

  <ion-content ng-controller="collectFeeController">

    <div class="list">
      <label class="item item-input">
        <span class="input-label">名稱</span>
        <label>{{people.get('userName')}} </label>
      </label>
      <label class="item item-input">
        <span class="input-label">收取金額</span>
        <input type="number" step="0.1" ng-model="payment.amount">
      </label>
      <label class="item item-input">
        <span class="input-label">備注</span>
        <input type="text" ng-model="payment.reference">
      </label>
    </div>

    <div class="row" >
      <div class="col text-center">
        <button class="button button-block button-positive" ng-click="collectFeePressed()">
          確定收取
        </button>
      </div>
    </div>


  </ion-content>

</ion-view >
