

<ion-view title="新增收費">

  <ion-content ng-controller="createFeeController" ng-init="initPara()">

    <div class="list">
      <label class="item item-input">
        <span class="input-label">名稱</span>
        <label>{{people.get('userName')}} </label>
      </label>
      <label class="item item-input">
        <span class="input-label">收費金額</span>
        <input type="number" step="0.1" ng-model="fee.amount">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          收費種類
        </div>

        <select ng-model="fee.feeType" ng-options="feetype.id as feetype.get('name') for feetype in feetypes">
        </select>

      </label>

      <label class="item item-input">
        <span class="input-label">備注</span>
        <input type="text" ng-model="fee.reference">
      </label>
    </div>

    <div class="row" >
      <div class="col text-center">
        <button class="button button-block button-positive" ng-click="createFeePressed()">
          確定新增收費
        </button>
      </div>
    </div>


  </ion-content>

</ion-view >
