

<ion-view title="匯出資料">

  <ion-content ng-controller="exportDataController">

    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Email" ng-model="email">
      </label>
    </div>

    <div>
      <br/>
    </div>

    <button class="button button-block button-positive" ng-click="exportData()">
      匯出
    </button>

  </ion-content>

</ion-view >
