

<ion-view title="主頁" hide-nav-bar="false" hide-back-button ="true" ng-controller="homeController">

  <ion-content >

    <h4>你好: {{userName}}</h4>

    <ion-list>
      <ion-item ng-click="rowPressed($index)" ng-repeat="item in items">
        {{item}}
      </ion-item>
    </ion-list>


    <div>
      <br/>
    </div>

    <button class="button icon-left button-block button-positive" ng-click="logoutPressed()">登出</button>


  </ion-content>

  </ion-view >


