<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/loginController.js"></script>
    <script src="js/homeController.js"></script>
    <script src="js/userProfileController.js"></script>
    <script src="js/userFeeController.js"></script>
    <script src="js/exportDataController.js"></script>

    <!--<script src="js/parse-1.5.js"></script>-->
    <script src="https://cdn1.lncld.net/static/js/av-mini-0.6.4.js"></script>
    <script src="js/moment.min.js"></script>


    <!-- parse-angular-patch/src/parse-angular.js for patching the integration between parse and angular-->
    <!--<script src="lib/parse-angular-patch/src/parse-angular.js"></script>-->

  </head>
  <body ng-app="starter">


  <ion-nav-bar class="bar-stable">
    <ion-nav-back-button class="button-clear">
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-nav-view></ion-nav-view>

  <script id="login.html" type="text/ng-template">

    <ion-view title="Login" hide-nav-bar="true" hide-back-button ="true">

      <ion-content ng-controller="loginController" ng-init="autoLogin()">
        <ion-footer-bar keyboard-attach >

          <div class="login-box">
            <div >
              <img class="login-img" ng-src="img/logo.jpg">
            </div>

            <div class="list list-inset">
              <label class="item item-input">
                <span class="input-label">使用者名稱</span>
                <input type="text" ng-model="loginName">
              </label>
              <label class="item item-input">
                <span class="input-label">密碼</span>
                <input type="password" ng-model="pwd">
              </label>
            </div>

            <button style="height: 50px;" class="button button-block button-positive" ng-click="loginPressed()">
              登入
            </button>
          </div>
        </ion-footer-bar>

      </ion-content>
    </ion-view >
  </script>


  </body>
</html>


