

<ion-view ng-controller="paymentApprovalController">

  <ion-view title="付款批核" ng-init="initPayment()">
    <ion-nav-buttons side="secondary">
      <button class="button" ng-click="approveSelection()">
        Save
      </button>
    </ion-nav-buttons>


    <ion-content >
      <div class="list card">
        <div class="item item-text-wrap" ng-repeat="payment in approvalLists">
          <h2>日期: {{payment.createDate}}</h2>
          <p>金額: {{payment.amount }}</p>
          <p>舍友: {{payment.owner }}</p>
          <p>備注: {{payment.reference}}</p>
          <p>經手人: {{payment.collector}}</p>

          <p>
            狀態
            <select ng-model="payment.status">
              <option value="1">接受</option>
              <option value="2">待批核</option>
              <option value="3">拒絕</option>
            </select>
          </p>
        </div>
      </div>

    </ion-content>

  </ion-view>

</ion-view >
