

<ion-view title="查詢舍友">

  <ion-content ng-controller="userProfileController">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="名稱" ng-model="searchName">
      </label>
    </div>

    <button class="button icon-left ion-search  button-block button-positive" ng-click="searchUser()">查詢</button>

    <span></span>

    <div class="item item-divider">
      查詢結果
    </div>

    <ion-list>
      <ion-item ng-click="userDetailPressed($index)" ng-repeat="user in searchResult">
        <i class="icon ion-person-stalker"></i>
        {{user.userName}} ({{user.birth }})
        <!--{{ moment(user.get("birth")).format('YYYY-MM-DD')}}-->
      </ion-item>
    </ion-list>

    <!-- <div class="bar bar-footer bar-balanced">
      
    </div> -->

  </ion-content>

</ion-view >
