

<ion-view title="欠款舍友">

  <ion-content ng-controller="searchNetgativeUserController">

    <!--<div class="list list-inset">-->
      <!--<label class="item item-input">-->
        <!--<i class="icon ion-search placeholder-icon"></i>-->
        <!--<input type="text" placeholder="名稱" ng-model="searchName">-->
      <!--</label>-->
    <!--</div>-->

    <!--<button class="button icon-left ion-search  button-block button-positive" ng-click="searchUser()">查詢</button>-->


    <ion-list>
      <ion-item ng-click="userDetailPressed($index)" ng-repeat="user in searchResult">
        <i class="icon ion-person-stalker"></i>
        {{user.get('userName')}} 欠款: {{user.get('accountRef').get('runningBalance')}}
      </ion-item>
    </ion-list>


  </ion-content>

</ion-view >
