

<ion-view cache-view="false"">

  <ion-nav-title id="navTitle"> {{title}} </ion-nav-title>

  <ion-content ng-controller="userProfileController" ng-init="initPara()">

    <label>{{title}}</label>

    <div class="list">
      <label class="item item-input">
        <span class="input-label">名稱</span>
        <input type="text" ng-model="people.userName">
      </label>
      <label class="item item-input">
        <span class="input-label">出生日期</span>
        <input type="date" ng-model="people.birth">
      </label>

      <label class="item item-input item-select">
        <div class="input-label">
          宿舍
        </div>
        <select ng-model="people.room" ng-options="room.id as room.get('name') for room in rooms">
          <!--<option ng-repeat="room in rooms">-->
            <!--{{room.get('name');}}-->
          <!--</option>-->
        </select>
      </label>


      <label class="item item-input">
        <span class="input-label">入住日期</span>
        <input type="date" ng-model="people.inDate">
      </label>
      <label class="item item-input">
        <span class="input-label">離開日期</span>
        <input type="date" ng-model="people.outDate">
      </label>

      <ul class="list">

        <li class="item item-toggle">
          是否收取身體檢查費
          <label class="toggle">
            <input type="checkbox" ng-model="people.hasBodyCheck">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

        <li class="item item-toggle">
          是否有申請綜援
          <label class="toggle">
            <input type="checkbox" ng-model="people.hasAssist">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>

      </ul>

      <button ng-click="getPhoto()" class="button button-block button-primary">相片上載</button>
      <ion-item>
          <img ng-src="{{lastPhoto}}" style="max-width: 100%">

          <p>
              相片預覽
          </p>
      </ion-item>

      <div id="addArea" class="row">
        <div class="col text-center">
          <button class="button button-block button-positive" ng-click="addUserPressed()">
            新增舍友
          </button>
        </div>
      </div>



      <div id="editArea">

        <label class="item item-input">
          <span class="input-label">結餘</span>
          <p>{{people.runningBalance}}</p>
        </label>

        <div class="row">
          <div class="col text-center">
            <button class="button button-block button-dark" ng-click="paymentPressed()">
              收取付款
            </button>
          </div>

          <div class="col text-center">
            <button class="button button-outline button-block button-dark" ng-click="newFeePressed()">
              新增收費
            </button>
          </div>

        </div>

        <div class="row">
          <div class="col text-center">
            <button class="button button-outline button-block button-positive" ng-click="feeListPressed()">
              收費紀錄
            </button>
          </div>

          <div class="col text-center">
            <button class="button button-outline button-block button-positive" ng-click="payListPressed()">
              付款紀錄
            </button>
          </div>
        </div>

        <div class="row" >
          <div class="col text-center">
            <button class="button button-block button-positive" ng-click="editUserPressed()">
              更新舍友
            </button>
          </div>

          <!--do not suppose to remove member-->
          <!--<div class="col text-center">-->
            <!--<button class="button button-block button-assertive" ng-click="deleteUserPressed()">-->
              <!--移除舍友-->
            <!--</button>-->
          <!--</div>-->
        </div>


      </div>


    </div>


  </ion-content>

</ion-view >
