

<ion-view title="付款紀錄">

  <ion-content ng-controller="userPaymentController">

    <div class="list card">
      <div class="item item-text-wrap" ng-repeat="payment in paymentLists">
        <h2>日期: {{payment.createDate}}</h2>
        <p>金額: {{payment.amount}} </p>
        <p>收取人: {{payment.creator}} </p>
        <p>狀態: {{payment.approved}} </p>
      </div>
    </div>

  </ion-content>

</ion-view >
