

<ion-view title="收費紀錄">

  <ion-content ng-controller="userFeeController">

    <div class="list card">

      <div class="item item-text-wrap" ng-repeat="fee in feeLists">
        <h2>日期: {{fee.createDate}}</h2>
        <p>金額: {{fee.amount}}</p>
        <p>已收取金額: {{fee.settledAmount}}</p>
        <p>種類: {{fee.type}}</p>
        <p>結算日期: {{fee.settleDate}}</p>
        <p ng-if="fee.reference">備注: {{fee.reference}}</p>
      </div>

    </div>


  </ion-content>

</ion-view >
