/* Empty. Add your own CSS if you like */
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

.login-img {
  display: block;
  margin: 0px auto;
  padding: 100px 20px 200px;
}

.login-box{
  position: absolute;
  width: 100%;
  text-align:center;
}
